# requirements/requirements-airflow.txt

apache-airflow==2.8.1
apache-airflow-providers-postgres==5.10.0

# ML
catboost==1.2.3
lightgbm==4.3.0
xgboost==2.0.3
scikit-learn==1.4.0
scikit-uplift==0.5.1
optuna==3.5.0

# Data
pandas==2.2.0
numpy==1.26.4
scipy==1.12.0

# MLflow
mlflow==2.10.0
psycopg2-binary==2.9.9

# Explainability
shap==0.44.1

# Validation
pandera==0.18.3

# Utils
python-dotenv==1.0.1
pyyaml==6.0.1
loguru==0.7.2